<header class="header">
        <a href="home.html" class="logo-text">Болногледачи.бг</a> <!--Създаване на фрагмент , за да избегнем повтарянето на код-->
        <nav class="nav-container">
            <a href="home.html" class="nav-link">Начало</a>
            <a href="about_us.html" class="nav-link">За нас</a>
            <a href="caretaker_recruitment.html" class="nav-link">Станете част от нас</a>
            <a href="blog.html" class="nav-link">Блог</a>
            <a href="contact_form.html" class="nav-link">Контакти</a>
        </nav>
    </header>