{% load static %} 

<!DOCTYPE html>
<html lang="bg">
<head>
    
    


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Болногледачи.бг{% endblock %}</title>
    <link rel="icon" href="{% static '/css/images/mini_logo.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<style>

</style>
<body>
    {% include "fragments/header.html" %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    {% include "fragments/footer.html" %}

    <!-- 🍪 Cookie Banner -->
        <div class="cookie-banner" id="cookie-banner">
        <p>
            🍪 Използваме бисквитки, за да подобрим работата на сайта и вашето изживяване.<br>
            <a href="{% url 'privacy_policy' %}" target="_blank">Политика за поверителност и бисквитки</a>.
        </p>

        <div class="cookie-options">
            <label><input type="checkbox" id="functional-cookies" checked disabled> Строго необходими</label>
            <label><input type="checkbox" id="analytics-cookies"> Статистически</label>
            <label><input type="checkbox" id="marketing-cookies"> Маркетингови</label>
        </div>

        <div class="cookie-actions">
            <button id="accept-selected">Приемам избраните</button>
            <button id="reject-all" class="reject-btn">Отказвам</button>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>



<!-- Google Tag Manager (noscript) -->
<noscript id="gtm-noscript" style="display:none"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQB3SQLQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>