{% extends "fragments/base.html" %}

{% block title %}Политика за бисквитки и поверителност | Bolnogledachi.bg{% endblock %}

{% block content %}


    <div style="max-width: 800px; margin: 50px auto; padding: 20px;">
        <h1>Политика за бисквитки и поверителност</h1>
        <p>Този сайт използва бисквитки (cookies), за да подобри потребителското изживяване и да анализира трафика.</p>
        <p>Използвайки сайта, вие се съгласявате с нашата политика за бисквитки.</p>
        <p>Можете по всяко време да изтриете запазените бисквитки от настройките на браузъра си.</p>
    </div>

{% endblock %}